
@media (max-width: 24.5625rem) { 
    /* Ajustes gerais */
    #desktop-only {
        display: none;
    }

    .desktop-only {
        display: none;
    }

    #mobile-only {
        display: none;
    }

    .mobile-only {
        display: none;
    }

    body {
        max-width: 100%;
    }

     /* Header */
    header{
        position: static;
    }

    .header-container {
        position: relative;
        margin-top: 2.06rem;
        border: 1px solid rgba(0, 0, 0, 0.10);
        background: var(--Colors-white, #F8F8FF);
        box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.10);
        width: 100%;
        height: 5rem;
        display: inline-flex;
        align-items: center;
        gap: 1.25rem;
        
    }

    .menu-mobile{
        position: absolute;
        left: 1.06rem;
        top: 1.12rem;
        height: 3rem;
        width: 3rem;
    }

    .logo-header-mobile {
        position: absolute;
        top: 1.12rem;
        right: 8.94rem;
        width: 6.25rem;
        height: 2.75rem;
        aspect-ratio: 25/11;
    }
    /*Fim Header*/

    /* Banner Central */
    .banner-central {
        position: relative;
        width: 100%;
        height: auto;
        padding: 2rem 1rem;
        margin-top: 8rem;
        flex-direction: column;
    }

    .bc-span {
        position: absolute;
        text-align: center;
        margin-bottom: 1rem;
        font-size: 1.3rem;
    }

    .bc-button {
        position: absolute;
        width: 100%;
        font-size: 1.3rem;
        margin: 1rem 0;
    }

    .animal1{
        position: absolute;
        
    }

    .animal2{
        position: absolute;
        
    }
    .animal3 {
        position: absolute;
        
    }

    /*Apresentação*/
    
    /*Fim da apresentação*/
    /*Entre em contato Form*/
    /*FIm do Entre em contato Form*/

    /* FOOTER */
footer .container {
    width: 100%;
    height: 9rem;
    flex-shrink: 0;
    border-top: 1px solid var(--Colors-blue300, #C7EBFB);
    border-bottom: 1px solid var(--Colors-blue300, #C7EBFB);
    background: #F8F8FF;
    display: flex; 
    gap: 1.8rem;
}

footer .container ul {
    margin-left: 1.81rem;
    margin-bottom: 0.65rem;
    padding: 0;
}

footer .container ul li:last-child {
    margin-bottom: 1.56rem; 
}

footer h3{
    color: var(--Colors-blue1100, #063643);
    font-family: Poppins;
    font-size: 0.77rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    width: 7.5rem;
    height: 1.1875rem;
}


.section-text{
    color: var(--Colors-blue1100, #063643);
    font-family: Poppins;
    font-size: 0.65rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
    width: 8.8125rem;
    height: 1.125rem;
}

/*SOCIAL LINK*/
.social-links{
display: flex;
width: 100%;
height: 3.95731rem;
justify-content: center;
align-items: flex-start;
gap: 2.2rem;
flex-shrink: 0;
margin-top: 2.17rem;
margin-bottom: 2.17rem;
}

.social-links img {
width: 3.95269rem;
height: 3.95269rem;
flex-shrink: 0;
}

.direito-autoral{
display: flex;
width: 100%;
padding: 0.6875rem 0rem;
justify-content: center;
align-items: center;
background: var(--Colors-blue1100, #063643);
color: var(--Colors-blue200, #E2F5FA);
font-family: Poppins;
font-size: 0.75rem;
font-style: normal;
font-weight: 700;
line-height: normal;
text-transform: uppercase;
position: static;
}

/**/
}