/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    overflow-x: hidden;
}

ul {
    list-style: none;
    padding: 0;
}

li{
    list-style-type: none;
    
}
body{
    background-color: rgba(226, 245, 250, 1);
    max-width: 120rem;
}

/*Início header*/

header {
    position: fixed;
    z-index: 1000;
}

#desktop-only, #mobile-only {
    display: none;
  }
  
  /* Mostra no desktop (a partir de 394px) */
  @media screen and (min-width: 24.58rem) {
    #desktop-only {
      display: flex;
    }
  }
  
  /* Mostra no mobile (até 393px) */
  @media screen and (max-width: 24.5625rem) {
    #mobile-only {
      display: flex;
    }
  }


.header-container {
    border: 1px solid rgba(0, 0, 0, 0.10);
    background: var(--Colors-white, #F8F8FF);
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.10);
    width: 120rem;
    height: 8.75rem;
    display: inline-flex;
    align-items: center;
    gap: 1.25rem;
    
}

/* Logo */
.logo { 
    width: 15.625rem;
    height: 4.364rem;
    margin: 2.19rem 24.44rem 2.2rem 24.38rem;
}

.nav-links {
    display: flex;
    width: 32.4375rem;
    height: 2.25rem;
    justify-content: center;
    align-items: flex-start;
    gap: 2.19rem;
    margin: 2.19rem 23.12rem 2.2rem 0;
    cursor: pointer;
}

.nav-links a {
    color: var(--Colors-blue1100, #063643);
    font-family: Poppins, sans-serif;
    font-size: 1.5rem;
    font-weight: 400;
    text-decoration: none;
    border-radius: 0.625rem;
    transition: background 300ms ease-in-out, color 0.3s;
}

.nav-links a:hover {
    background: rgba(107, 183, 203, 0.40);
}
/*Fim header*/

/*Inicio Banner central*/

.banner-central {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    position: relative;
    width: 73.75rem;
    height: 28.125rem;
    border-radius: 0.5rem;
    border: 1px solid rgba(0, 0, 0, 0.15);
    background: var(--Colors-white, #F8F8FF);
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
    margin-top: 10rem;
}

.bc-span {
    display: block;
    color: var(--Colors-blue1100, #063643);
    font-family: Poppins, sans-serif;
    font-size: 1.75rem;
    font-weight: 700;
    letter-spacing: 0.035rem;
    position: absolute;
    top: 3rem;
    left: 5rem;
    right: 42.5rem;
    bottom: 19.88rem;
}

.bc-button {
    position: absolute;
    top: 12.62rem;
    left: 5rem;
    width: 17.6875rem;
    height: 4.5rem;
    border-radius: 0.5rem;
    background: var(--Colors-blue1000, #0F637A);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.625rem;
    color: #F8F8FF;
    font-family: Poppins, sans-serif;
    font-size: 1.75rem;
    font-weight: 700;
    border: none;
    transition: background-color 300ms ease, transform 300ms ease;
    cursor: pointer;
}

.bc-button:hover {
    background-color: #7CCBE0;
    color: var(--Colors-blue1100, #063643);
}

.animal1,
.animal2,
.animal3 {
    position: absolute;
    flex-shrink: 0;
}

.animal1 {
    top: 15.69rem;
    left: 23.94rem;
    width: 12.5rem;
    height: 10rem;
}

.animal2 {
    top: 9.44rem;
    left: 35.34rem;
    width: 25rem;
    height: 15.9715rem;
}

.animal3 {
    top: 14.69rem;
    left: 55rem;
    width: 13.75rem;
    height: 10.74331rem;
}

.waveform {
    position: absolute;
    top: 0;
    left: 56.06rem;
}

/*Fim Banner central*/

/*Carrossel*/

.carrossel {
    position: relative; 
    margin-top: 1.88rem;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    margin-bottom: 3.88rem;
}

.carrossel-content {
    position: relative;
    width: 68.38638rem;
    height: 18.75rem;
    flex-shrink: 0;
    overflow: hidden;
}

.carrossel-container-1,
.carrossel-container-2,
.carrossel-container-3 {
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 0.5rem;
    background: var(--Colors-blue600, #63B3C9);
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
    opacity: 0;
    display: none; /* Garante que apenas um apareça */
    transition: opacity 0.5s ease-in-out;
}

/* Apenas o slide ativo fica visível */
.carrossel-container-1.active,
.carrossel-container-2.active,
.carrossel-container-3.active {
    opacity: 1;
    display: block;
}


/*Container 1*/

.img-banner-gato{
position: absolute;
top: 6.25rem ;
left: 53.94rem;
width: 7.5rem;
height: 12.22931rem;
flex-shrink: 0;
}

.img-banner-seringa{
position: absolute;
top: 5.81rem;
left: 7rem;
width: 9.375rem;
height: 9.375rem;
flex-shrink: 0;
}

.img-banner-pata-1{
position: absolute;
top: 0.75rem;
left: 1.31rem;
width: 8.25rem;
height: 8.01806rem;
transform: rotate(-10.744deg);
flex-shrink: 0;
}

.img-banner-pata-2{
position: absolute;
top: 8.25rem;
left: 16rem;
width: 8.25rem;
height: 8.01806rem;
transform: rotate(-5.744deg);
flex-shrink: 0;
}

.carrossel-container-1 h3{
position: absolute;
top: 1.5rem;
left: 31.38rem;
color: var(--Colors-blue1100, #063643);
font-family: Poppins;
font-size: 1.75rem;
font-style: normal;
font-weight: 700;
line-height: normal;
letter-spacing: 0.035rem;
}

.carrossel-container-1 p{
position: absolute;
top: 4.88rem;
left: 31.88rem;
color: var(--Colors-blue1000, #0F637A);
font-family: Poppins;
font-size: 1.25rem;
font-style: normal;
font-weight: 500;
line-height: normal;
letter-spacing: 0.025rem;
}

.carrossel-container-1 button {
position: absolute;
top: 9.94rem;
left: 34.56rem;
display: flex;
width: 17.6875rem;
height: 4.5rem;
padding: 0.625rem 0.3125rem;
justify-content: center;
align-items: center;
gap: 0.625rem;
flex-shrink: 0;
border-radius: 0.25rem;
background: var(--Colors-white, #F8F8FF);
color: var(--Colors-blue1100, #063643);
font-family: Poppins;
font-size: 1.75rem;
font-style: normal;
font-weight: 700;
line-height: normal;
cursor: pointer;
transition: all 300ms ease-out;
border: none;
}

.carrossel-container-1 button:hover {
    color: #F8F8FF;
    background: #063643;
}

/*Fim do Container 1*/

/*Container 2*/

.carrossel-container-2{
border-radius: 0.5rem;
background: #063643;
box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
}

.carrossel-container-2 h3{
position: absolute;
top: 1.5rem;
left: 4rem;
color: #FFF;
font-family: Poppins;
font-size: 1.75rem;
font-style: normal;
font-weight: 700;
line-height: normal;
letter-spacing: 0.035rem;
}

.carrossel-container-2 p{
    position: absolute;
    top: 5.56rem;
    left: 4rem;
    color: #FAFDFF;
font-family: Poppins;
font-size: 1.125rem;
font-style: normal;
font-weight: 500;
line-height: normal;
letter-spacing: 0.0225rem;
width: 32.4375rem;
}

.carrossel-container-2 button {
    position: absolute;
    top: 12.94rem;
    left: 8.19rem;
    display: flex;
    width: 17.6875rem;
    padding: 0.625rem 0.3125rem;
    justify-content: center;
    align-items: center;
    gap: 0.625rem;
    border-radius: 0.25rem;
    background: #F8F8FF;
    color: #063643;
    font-family: Poppins;
    font-size: 1.75rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    cursor: pointer;
    border: none;
    transition: all 300ms ease-out;
}

.carrossel-container-2 button:hover {
    background: #7CCBE0;
    color: #063643;
}

.bg-banner2{
    background-image: url(/public/bg-banner2.png);
}

.img-banner2-cachorro{
    position: absolute;
    top: 3.20rem;
    left: 40.25rem;
    width: 12.5rem;
    height: 18.622rem;
    flex-shrink: 0;
}

.img-banner2-gato{
    position: absolute;
    left: 59.31rem;
    
}
/*Fim do Container 2*/

/*Container 3*/

.carrossel-container-3{
border-radius: 0.5rem;
background: #F8F8FF;
box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
}

.carrossel-container-3 h3{
position: absolute;
top: 1.5rem;
left: 4rem;
color: #063643;
font-family: Poppins;
font-size: 1.75rem;
font-style: normal;
font-weight: 700;
line-height: normal;
letter-spacing: 0.035rem;
z-index: 1;
}

.carrossel-container-3 p{
position: absolute;
top: 5.56rem;
left: 4rem;
color: #FAFDFF;
color: #063643;
font-family: Poppins;
font-size: 1.25rem;
font-style: normal;
font-weight: 500;
line-height: normal;
letter-spacing: 0.025rem;
z-index: 1;
width: 37.25rem;
}

.carrossel-container-3 button {
position: absolute;
top: 12.94rem;
left: 8.19rem;
display: flex;
width: 17.6875rem;
height: 4.5rem;
padding: 0.625rem 0.3125rem;
justify-content: center;
align-items: center;
gap: 0.625rem;
border-radius: 0.25rem;
background: #063643;
flex-shrink: 0;
color: #F8F8FF;
font-family: Poppins;
font-size: 1.75rem;
font-style: normal;
font-weight: 700;
line-height: normal;
cursor: pointer;
border: none;
transition: all 300ms ease-out;
}

.carrossel-container-3 button:hover {
    background: #7CCBE0;
    color: #063643;
}

.bg-banner3{
    position: absolute;
    left: 34.55rem;
}

.img-banner3-gato{
    position: absolute;
    left: 51.56rem;
    right: 1.26rem;
}

.img-banner3-guardachuva{
    position: absolute;
    right: 54.13rem;
}
/*Fim do Container 3*/

/* Botões */
#prev-btn, #next-btn {
    width: 30px;
    height: 30px;
    background-color: transparent;
    cursor: pointer;
    border: none;
}

#prev-btn img, #next-btn img {
    width: 100%;
    height: 100%;
}

/* Indicadores */
.indicadores {
    position: absolute;
    bottom: -1.95rem; 
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 1.5rem;
    justify-content: center;
    margin-top: 0.75rem;
}

.dot {
    width: 1.35rem;
    height: 1.35rem;
    background-color: gray;
    border-radius: 50%;
    cursor: pointer;
    transition: background 0.3s;
}

.dot.active {
    background-color: #50a9c6;
}

/*Fim carrossel*/

/*Entre em contato FOrm*/

.entre-contato span {
    color: var(--Colors-blue1100, #063643);
    font-family: Inter, sans-serif;
    font-size: 1.5rem;
    font-weight: 700;
}

.inf-contato {
    width: 26.25rem;
    height: 43.25rem;
    border-radius: 0.5rem 0 0 0.5rem;
    border: 1px solid rgba(6, 54, 67, 0.40);
    background: var(--Colors-white, #F8F8FF);
    position: relative;
}

.inf-contato p {
    color: var(--Colors-blue1100, #063643);
    font-family: Inter, sans-serif;
    font-size: 1.25rem;
    font-style: italic;
    font-weight: 400;
    line-height: 1.625rem;
    margin-left: 1.31rem;
}

.inf-contato h3 {
    color: var(--Colors-blue1100, #063643);
    font-family: Inter, sans-serif;
    font-size: 1.25rem;
    font-weight: 700;
    margin: 3.19rem 0 2.5rem 1.31rem;
}

.inf-contato > img:first-of-type {
    width: 21.875rem;
    height: 15.25975rem;
    border-radius: 0.25rem;
    border: 1px solid rgba(15, 99, 122, 0.40);
    display: block;
    margin: 4.38rem auto 2.93rem;
}

.form-social-links {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.form-social-links img {
    width: 2.25rem;
    height: 2.25rem;
}

.form-social-link-p {
    margin-left: 1.25rem;
    display: flex;
    align-items: center;
}

.form-social-link-p p {
    color: var(--Colors-blue1100, #063643);
    font-family: "Open Sans", sans-serif;
    font-size: 1.125rem;
    font-weight: 400;
    margin-left: 0.75rem;
}

.entre-contato {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 75rem;
    margin: 0 auto 3rem;
}

.span-form {
    color: var(--Colors-blue1100, #063643);
    font-family: Inter, sans-serif;
    font-size: 1.5rem;
    font-weight: 700;
    margin-top: 2.31rem;
    display: flex;
    margin-left: 28.12rem;
    margin-bottom: 1.5rem;
}

.equipe-container {
    position: relative;
    width: 73.75rem;
    height: 28.75rem;
    border-radius: 0.5rem;
    background: #F8F8FF;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1.25rem 23.13rem;
    gap: 2.5rem;
}

.info-profissional img {
    width: 15rem;
    height: 15rem;
}

.inf-profissional {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 5.5rem;
}

.inf-profissional h3 {
    color: var(--Colors-blue1100, #063643);
    font-family: Inter, sans-serif;
    font-size: 1.125rem;
    font-weight: 500;
    padding: 0.56rem 0 0.38rem;
}

.inf-profissional p {
    color: var(--Colors-blue1100, #063643);
    font-family: Inter, sans-serif;
    font-size: 1rem;
    font-weight: 400;
}


.equipe-container span{
color: var(--Colors-blue1100, #063643);
font-family: Poppins;
font-size: 1.5rem;
font-style: normal;
font-weight: 700;
line-height: normal;
position: absolute;
top: 2.75rem;
right: 52.88rem;
}

.form{
height: 43.25rem;
width: 37.5rem;
display: flex;
padding: 3.1875rem 2.5rem 2.875rem 2.5rem;
flex-direction: column;
justify-content: flex-end;
align-items: flex-start;
gap: 1.75rem;
border-radius: 0rem 0.5rem 0.5rem 0rem;
border-top: 1px solid rgba(6, 54, 67, 0.40);
border-right: 1px solid rgba(6, 54, 67, 0.40);
border-bottom: 1px solid rgba(6, 54, 67, 0.40);
background: #FAFDFF;
}

.form label{
    color: var(--Colors-blue1100, #063643);
font-family: Inter;
font-size: 1.25rem;
font-style: normal;
font-weight: 700;
line-height: normal;
}

.form input{
margin-top:0.5rem;
width: 32.5rem;
height: 3.75rem;
flex-shrink: 0;
border-radius: 0.5rem;
border: 1px solid rgba(0, 0, 0, 0.40);
box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.15);
}

.form button{
display: flex;
width: 9rem;
height: 3.4375rem;
padding: 0.5rem 0.25rem;
justify-content: center;
align-items: center;
gap: 0.625rem;
color: #F8F8FF;
border-radius: 0.5rem;
background: var(--Colors-blue1000, #0F637A);
border: none;
cursor: pointer;

font-family: Poppins;
font-size: 1.25rem;
font-style: normal;
font-weight: 700;
line-height: normal;
}

.form button:hover{
background: #063643;
}
/*Fim do Entre em contato FOrm*/

/* FOOTER */
footer .container {
    width: 120rem;
    height: 17rem;
    flex-shrink: 0;
    border-top: 1px solid var(--Colors-blue300, #C7EBFB);
    border-bottom: 1px solid var(--Colors-blue300, #C7EBFB);
    background: #F8F8FF;
    display: flex; 
    align-items: center; 
    gap: 8.06rem;
}

.logo-footer {
    width: 12.5rem;
    height: 12.5rem;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: 23.12rem;
    margin-top: 2.58rem;
    cursor: pointer;
}

footer .container .contato {

    position: relative;
    right: 4.08rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start; 
    padding-bottom: 3.650rem;
}



.logo-footer img {
    max-width: 100%;
    height: auto;
}

.logo-name {
    width: auto;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}


footer h3{
    color: var(--Colors-blue1100, #063643);
font-family: Poppins;
font-size: 1rem;
font-style: normal;
font-weight: 700;
line-height: normal;
text-transform: uppercase;
}
.section-text{
color: var(--Colors-blue1100, #063643);
font-family: Poppins;
font-size: 1rem;
font-style: normal;
font-weight: 400;
line-height: normal;
text-transform: uppercase;
}

ul h3 {
    margin-top: 2.25rem;
    margin-bottom: 0.75rem;
}

ul li {
    margin-bottom: 0.5rem;
}
footer .container ul:last-child {
    margin-left: 1.19rem; 
}

ul li:last-child {
    margin-bottom: 0;
}

ul .contato{
    margin-right: 31.69;
}

.social-links{
display: flex;
width: 9.25rem;
height: 2.25263rem;
justify-content: center;
align-items: flex-start;
gap: 1.25rem;
flex-shrink: 0;

}

.direito-autoral{
display: flex;
width: 120rem;
padding: 0.6875rem 0rem;
justify-content: center;
align-items: center;
background: var(--Colors-blue1100, #063643);
color: var(--Colors-blue200, #E2F5FA);
font-family: Poppins;
font-size: 0.75rem;
font-style: normal;
font-weight: 700;
line-height: normal;
text-transform: uppercase;
}

/**/


.divQuadroAvaliacao{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: "Poppins", open-Sans;
    color: rgba(6, 54, 67, 1);
    width: 100%;
    min-height: 25rem;
    box-sizing: border-box;
}
.divTextoAvaliacao{
    width: 100%;
    font-size: 1.5rem;
    font-style: bold;
    font-weight: 700;
    padding-bottom: 1.875rem;
}

#divFooterQuadro{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 0.625rem;
}

#divNumPag{
    font-style: bold;
    font-weight: 700;
}
.divProxPag{
    background-color: rgba(226, 245, 250, 1);
    width: 2.5rem;
    height: 1.875rem;
    border: 0.063rem;
    border-style: solid;
    border-radius: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}


.divProxPag:hover{
    background-color:  rgba(107, 183, 203, 1);
    transition: 0.2S;
}
.divProxPag:active{
    background-color: rgba(6, 54, 67, 1);
}

.imgSeta {
    cursor: pointer;
}
.divProxPag:active .imgSeta{
    filter: brightness(0) invert(1);
}


.divFoto{

    display: flex;
    align-items: center;
    justify-content: center;   
    align-content: center;     
}
.fotoFeed{
    width: 5rem;
    height: 5rem;
}

.divFeedback{
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;    
    justify-content: center;
}
.divEstrela{
    width: 700px;
}
.estrela{
    width: 7.5rem;
    
}
.divNomeFeed{
    width: 43.75rem;
    font-size: 1.125;
}
.divTextoFeed{
    width: 43.75rem;
    font-size: 1rem ;
}

.divAvaliacao{  
    width: 53.125rem;
    display: flex;
    flex-direction: row;
    gap: 1.25rem;
    
    
}
.linha{
    width: 100%;
    border-bottom: 0.125rem solid rgba(0, 0, 0, 0.1);
}

#divAprPrincipal{
    background-color: rgba(137, 197, 213, 1);
    background-image: url(/public/fundo-animais-icons\ 2.svg);
    font-family: poppins;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.25rem;
}


#divPrinc{
    width: 73.875rem;
}

#divPrimeira{
    padding: 1rem;
}

#divSecundaria{
    width: 100%;
    background-color: rgba(99, 179, 201, 1);
    background-image: url(/public/fundo-animais-icons\ 2.svg);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
#divSegunda{
    width: 73.875rem;
}
#divSecTitulo{
    padding: 2rem;
}

#divTerceira{
    background-color: rgba(137, 197, 213, 1);
    background-image: url(/public/fundo-animais-icons\ 2.svg);
    padding: 1rem;
}
#divTerciaria{
    width: 73.875rem;
}
#titApr{
    font-size: 1.5rem;
    font-weight: 700;
    
}
#titSec{
    font-weight: 700;
    font-size: 1.5rem;
}


.apresentacao{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

/* Slider */
.slider-container {
    
    position: relative;
    width: 100%;
    min-height: 25rem; 
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 2rem 0; 
    overflow: visible;

}

.slider {

    position: relative;
    width: 68.38638rem;
    min-height: 25rem;
    flex-shrink: 0;
    overflow: visible; 

}
.slide1 {
    opacity: 1;
    display: block;
}

.slide1, .slide2, .slide3 {
    width: 100%;
    height: 100%;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
    opacity: 0;
    display: none; 
    position: absolute;
    transition: opacity 0.5s ease;
}


.slider-container,
.slider,
.divQuadroAvaliacao,
.slide1, .slide2, .slide3 {
    border: none !important;
    outline: none !important;
    box-shadow: none !important;
}


.divAvaliacao, .divFeedback {
    border: none !important;
}   


.prevBtn, .nextBtn {
    cursor: pointer;
    transition: opacity 0.3s ease;
}

.prevBtn[disabled], .nextBtn[disabled] {
    pointer-events: none;
    opacity: 0.5;
    cursor: not-allowed;
}


.divQuadroAvaliacao {
    transition: opacity 0.5s ease-in-out;
    opacity: 0;
    display: none;
}

.divQuadroAvaliacao.active {
    opacity: 1;
    display: block;
}


.slider-container {
    position: relative;
    min-height: 25rem; 
}






