/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
    padding: 0;
}


.container {
border: 1px solid rgba(0, 0, 0, 0.10);
background: var(--Colors-white, #F8F8FF);
box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.10);
width: 120rem;
height: 8.75rem;
align-items: center;
gap: 1.25rem;
display: inline-flex;
}

/* Logo */
.logo { 
width: 15.625rem;
height: 4.364rem;
margin-left: 24.38rem;
margin-right: 24.44rem;
margin-top: 2.19rem;
margin-bottom: 2.2rem;
}

.nav-links{
display: flex;
width: 32.4375rem;
height: 2.25rem;
justify-content: center;
align-items: flex-start;
gap: 2.19rem;
margin-right: 23.12rem;
margin-top: 2.19rem;
margin-bottom: 2.2rem;
}

.nav-links a {
color: var(--Colors-blue1100, #063643);
font-family: Poppins;
font-size: 1.5rem;
font-style: normal;
font-weight: 400;
line-height: normal;
transition: color 0.3s;
text-decoration: none;
border-radius: 0.625rem;
transition: background 300ms ease-in-out;
}

.nav-links a:hover {
border-radius: 0.625rem;
background: rgba(107, 183, 203, 0.40);
}

.banner-central {
position: relative;
width: 73.75rem;
height: 28.125rem;
flex-shrink: 0;
border-radius: 0.5rem;
border: 1px solid rgba(0, 0, 0, 0.15);
background: var(--Colors-white, #F8F8FF);
box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
margin-left: 23.13rem;
margin-right: 23.13rem;
margin-top: 1.25rem;
}

.bc-span{
display: block;
color: var(--Colors-blue1100, #063643);
font-family: Poppins;
font-size: 1.75rem;
font-style: normal;
font-weight: 700;
line-height: normal;
letter-spacing: 0.035rem;
position: absolute; 
top: 3rem; 
left: 5rem; 
right: 42.5rem; 
bottom: 19.88rem; /
}

.bc-button{
position: absolute;
top: 12.62rem;
left: 5rem;
right: 51.06rem;
bottom: 11rem;
border-radius: 0.5rem;
background: var(--Colors-blue1000, #0F637A);
display: flex;
width: 17.6875rem;
height: 4.5rem;
padding: 0.625rem 0.3125rem;
justify-content: center;
align-items: center;
gap: 0.625rem;
flex-shrink: 0;
color: #F8F8FF;
font-family: Poppins;
font-size: 1.75rem;
font-style: normal;
font-weight: 700;
line-height: normal;
border: none;
transition: background-color 300ms ease, transform 300ms ease;
}

.bc-button:hover{
    background-color: #7CCBE0;
    color: var(--Colors-blue1100, #063643);
}

.animal1{
position: absolute;
top: 15.69rem;
left: 23.94rem;
right: 37.31rem;
bottom: 2.44rem;
width: 12.5rem;
height: 10rem;
flex-shrink: 0;
}

.animal2{
position: absolute;
top: 9.44rem;
left: 35.34rem;
right: 13.31rem;
bottom: 2.72rem;
width: 25rem;
height: 15.9715rem;
flex-shrink: 0;
}

.animal3{
position: absolute;
top: 14.69rem;
left: 55rem;
right: 5rem;
bottom: 2.69rem;
width: 13.75rem;
height: 10.74331rem;
flex-shrink: 0;
}

.waveform {
    position: absolute;
    top: 0rem;
    left: 56.06rem;
  }

.entre-contato span { 
color: var(--Colors-blue1100, #063643);
font-family: Inter;
font-size: 1.5rem;
font-style: normal;
font-weight: 700;
line-height: normal;
}

.inf-contato{
width: 26.25rem;
height: 43.25rem;
flex-shrink: 0;
border-radius: 0.5rem 0rem 0rem 0.5rem;
border: 1px solid rgba(6, 54, 67, 0.40);
background: var(--Colors-white, #F8F8FF);
position: relative;
}

.inf-contato p{
color: var(--Colors-blue1100, #063643);
font-family: Inter;
font-size: 1.25rem;
font-style: italic;
font-weight: 400;
line-height: 1.625rem; /* 130% */
margin-left: 1.31rem;

}


.inf-contato h3 {
    color: var(--Colors-blue1100, #063643);
    font-family: Inter;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 2.5rem; /* Alterado de padding-bottom para margin-bottom */
    margin-top: 3.19rem;
    margin-left: 1.31rem;
}

.inf-contato > img:first-of-type{
width: 21.875rem;
height: 15.25975rem;
flex-shrink: 0;
border-radius: 0.25rem;
border: 1px solid rgba(15, 99, 122, 0.40);
margin-top: 4.38rem;
display: block;  
margin-left: auto;  
margin-right: auto;  
margin-bottom: 2.93rem;
}

.form-social-links{
gap: 0.5rem;
display: flex;
flex-direction: column;
}

.form-social-links img{
width: 2.25rem;
height: 2.25rem;
flex-shrink: 0;

}

.form-social-link-p{
    margin-left: 1.25rem;
    margin-right: 0.75rem;
    display: flex; 
    align-items: center;
}

.form-social-link-p p{
color: var(--Colors-blue1100, #063643);
font-family: "Open Sans";
font-size: 1.125rem;
font-style: normal;
font-weight: 400;
line-height: normal;
margin-left: 0.75rem;
}

.entre-contato {
    display: flex;
    flex-direction: row; /* Alinha os itens verticalmente */
    align-items: center; /* Centraliza os itens horizontalmente */
    justify-content: center; /* Centraliza o conteúdo dentro da div */
    margin: 0 auto; /* Centraliza a div horizontalmente no contêiner */
    margin-bottom: 3rem;
    width: 100%; /* Certifica-se de que a div ocupe toda a largura disponível */
    max-width: 1200px; /* Ajuste a largura máxima da div se necessário */
    position: relative;
    right: -13.75%;
}



.span-form {
color: var(--Colors-blue1100, #063643);
font-family: Inter;
font-size: 1.5rem;
font-style: normal;
font-weight: 700;
line-height: normal;
padding-bottom: 1.5rem;
margin-top: 2.31rem;
position: relative;
right: -30.15%;
display: flex;

}

.equipe-container{
    position: relative;
    width: 73.75rem;
    height: 28.75rem;
    flex-shrink: 0;
    border-radius: 0.5rem;
    background: #F8F8FF;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.25);
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1.25rem 23.13rem;
    gap: 2.5rem;
}

.info-profissional img{
    width: 15rem;
    height: 15rem;
    flex-shrink: 0;
}

.inf-profissional {
    display: flex;
    flex-direction: column; /* Coloca os itens em coluna */
    align-items: center; /* Centraliza horizontalmente */
    justify-content: center; /* Centraliza verticalmente */
    height: 100%; /* Garante que o container tenha altura suficiente */
    text-align: center; /* Alinha o texto no centro */
    margin-top: 5.5rem;
}


.inf-profissional h3{
    color: var(--Colors-blue1100, #063643);
    font-family: Inter;
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    padding-top: 0.56rem;
    padding-bottom: 0.38rem;
}

.inf-profissional p{
    color: var(--Colors-blue1100, #063643);
    font-family: Inter;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.equipe-container span{
color: var(--Colors-blue1100, #063643);
font-family: Poppins;
font-size: 1.5rem;
font-style: normal;
font-weight: 700;
line-height: normal;
position: absolute;
top: 2.75rem;
right: 52.88rem;
}

.form{
height: 43.25rem;
width: 37.5rem;
display: flex;
padding: 3.1875rem 2.5rem 2.875rem 2.5rem;
flex-direction: column;
justify-content: flex-end;
align-items: flex-start;
gap: 1.75rem;
border-radius: 0rem 0.5rem 0.5rem 0rem;
border-top: 1px solid rgba(6, 54, 67, 0.40);
border-right: 1px solid rgba(6, 54, 67, 0.40);
border-bottom: 1px solid rgba(6, 54, 67, 0.40);
background: #FAFDFF;
}

.form label{
    color: var(--Colors-blue1100, #063643);
font-family: Inter;
font-size: 1.25rem;
font-style: normal;
font-weight: 700;
line-height: normal;
}

.form input{
margin-top:0.5rem;
width: 32.5rem;
height: 3.75rem;
flex-shrink: 0;
border-radius: 0.5rem;
border: 1px solid rgba(0, 0, 0, 0.40);
box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.15);
}

.form button{
display: flex;
width: 9rem;
height: 3.4375rem;
padding: 0.5rem 0.25rem;
justify-content: center;
align-items: center;
gap: 0.625rem;
color: #F8F8FF;
border-radius: 0.5rem;
background: var(--Colors-blue1000, #0F637A);

font-family: Poppins;
font-size: 1.25rem;
font-style: normal;
font-weight: 700;
line-height: normal;
}


/* FOOTER */
  footer .container {
    width: 120rem;
    height: 17rem;
    flex-shrink: 0;
    border-top: 1px solid var(--Colors-blue300, #C7EBFB);
    border-bottom: 1px solid var(--Colors-blue300, #C7EBFB);
    background: #F8F8FF;
    display: flex; /* Correção aqui */
    align-items: center; /* Centraliza verticalmente */
    gap: 8.06rem;
}

.logo-footer {
    width: 12.5rem;
    height: 12.5rem;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: 23.12rem;
    margin-top: 2.58rem;
}

footer .container .contato {

    position: relative;
    right: 4.08rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start; 
    padding-bottom: 3.650rem; /* ESTIMATIVA PARA ALINHAD COM OS OUTROS h3 */
}



.logo-footer img {
    max-width: 100%;
    height: auto;
}

.logo-name {
    width: auto;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}


footer h3{
    color: var(--Colors-blue1100, #063643);
font-family: Poppins;
font-size: 1rem;
font-style: normal;
font-weight: 700;
line-height: normal;
text-transform: uppercase;
}
.section-text{
color: var(--Colors-blue1100, #063643);
font-family: Poppins;
font-size: 1rem;
font-style: normal;
font-weight: 400;
line-height: normal;
text-transform: uppercase;
}

ul h3 {
    margin-top: 2.25rem;
    margin-bottom: 0.75rem;
}

ul li {
    margin-bottom: 0.5rem;
}
footer .container ul:last-child {
    margin-left: 1.19rem; 
}

ul li:last-child {
    margin-bottom: 0;
}

ul .contato{
    margin-right: 31.69;
}

.social-links{
display: flex;
width: 9.25rem;
height: 2.25263rem;
justify-content: center;
align-items: flex-start;
gap: 1.25rem;
flex-shrink: 0;

}

.direito-autoral{
display: flex;
width: 120rem;
padding: 0.6875rem 0rem;
justify-content: center;
align-items: center;
background: var(--Colors-blue1100, #063643);
color: var(--Colors-blue200, #E2F5FA);
font-family: Poppins;
font-size: 0.75rem;
font-style: normal;
font-weight: 700;
line-height: normal;
text-transform: uppercase;
}

li{
    list-style-type: none;
    
}
body{
    background-color: rgba(226, 245, 250, 1);
}

#divQuadroAvaliacao{
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: "Poppins", open-Sans;
    color: rgba(6, 54, 67, 1);
    padding: 5rem;
}
#divTextoAvaliacao{
    width: 100%;
    font-size: 1.5rem;
    font-style: bold;
    font-weight: 700;
    padding-bottom: 1.875rem;
}
#divFooterQuadro{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 0.625rem;
}

#divNumPag{
    font-style: bold;
    font-weight: 700;

}
#divProxPag{
    width: 2.5rem;
    height: 1.875rem;
    border: 0.063rem;
    border-style: solid;
    border-radius: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}


#divProxPag:hover{
    background-color:  rgba(107, 183, 203, 1);
    transition: 0.2S;
}
#divProxPag:active{
    background-color: rgba(6, 54, 67, 1);
}

#imgSeta{
    width: 1.125rem;
    height: 1.125rem;
}
#divProxPag:active #imgSeta{
    filter: brightness(0) invert(1);
}


.divFoto{

    display: flex;
    align-items: center;
    justify-content: center;   
    align-content: center;     
}
.fotoFeed{
    width: 5rem;
    height: 5rem;
}

.divFeedback{
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;    
    justify-content: center;
}
.divEstrela{
    width: 700px;
}
.estrela{
    width: 7.5rem;
    
}
.divNomeFeed{
    width: 43.75rem;
    font-size: 1.125;
}
.divTextoFeed{
    width: 43.75rem;
    font-size: 1rem ;
}

.divAvaliacao{  
    width: 53.125rem;
    display: flex;
    flex-direction: row;
    gap: 1.25rem;
    
}
.linha{
    width: 100%;
    border-bottom: 0.125rem solid rgba(0, 0, 0, 0.1);
}

#divAprPrincipal{
    background-color: rgba(137, 197, 213, 1);
    background-image: url(/public/fundo-animais-icons\ 2.svg);
    font-family: poppins;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.25rem;
    
}


#divPrinc{
    width: 73.875rem;
}

#divPrimeira{
    padding: 1rem;
}

#divSecundaria{
    width: 100%;
    background-color: rgba(99, 179, 201, 1);
    background-image: url(/public/fundo-animais-icons\ 2.svg);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
#divSegunda{
    width: 73.875rem;
}
#divSecTitulo{
    padding: 2rem;
}

#divTerceira{
    background-color: rgba(137, 197, 213, 1);
    background-image: url(/public/fundo-animais-icons\ 2.svg);
    padding: 1rem;
}
#divTerciaria{
    width: 73.875rem;
}
#titApr{
    font-size: 1.5rem;
    font-weight: 700;
    
}
#titSec{
    font-weight: 700;
    font-size: 1.5rem;
}


.apresentacao{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}






